<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="exam">
      <h2 data-cy="examDetailsHeading"><span jhiTranslate="drivingSchoolApp.exam.detail.title">Exam</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ exam.id }}</span>
        </dd>
        <dt><span jhiTranslate="drivingSchoolApp.exam.date">Date</span></dt>
        <dd>
          <span>{{ exam.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="drivingSchoolApp.exam.type">Type</span></dt>
        <dd>
          <span>{{ exam.type }}</span>
        </dd>
        <dt><span jhiTranslate="drivingSchoolApp.exam.constAmount">Const Amount</span></dt>
        <dd>
          <span>{{ exam.constAmount }}</span>
        </dd>
        <dt><span jhiTranslate="drivingSchoolApp.exam.student">Student</span></dt>
        <dd>
          <div *ngIf="exam.student">
            <a [routerLink]="['/student', exam.student.id, 'view']">{{ exam.student.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/exam', exam.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
