<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-student-heading" data-cy="StudentCreateUpdateHeading" jhiTranslate="drivingSchoolApp.student.home.createOrEditLabel">
        Create or edit a Student
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="drivingSchoolApp.student.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="drivingSchoolApp.student.middleName" for="field_middleName">Middle Name</label>
          <input
            type="text"
            class="form-control"
            name="middleName"
            id="field_middleName"
            data-cy="middleName"
            formControlName="middleName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="drivingSchoolApp.student.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="drivingSchoolApp.student.contractNumber" for="field_contractNumber"
            >Contract Number</label
          >
          <input
            type="text"
            class="form-control"
            name="contractNumber"
            id="field_contractNumber"
            data-cy="contractNumber"
            formControlName="contractNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="drivingSchoolApp.student.phoneNumber" for="field_phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="drivingSchoolApp.student.jmbg" for="field_jmbg">Jmbg</label>
          <input type="text" class="form-control" name="jmbg" id="field_jmbg" data-cy="jmbg" formControlName="jmbg" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="drivingSchoolApp.student.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
          <div class="d-flex">
            <input
              id="field_dateOfBirth"
              data-cy="dateOfBirth"
              type="datetime-local"
              class="form-control"
              name="dateOfBirth"
              formControlName="dateOfBirth"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
