<div>
  <h2 id="page-heading" data-cy="ExamHeading">
    <span jhiTranslate="drivingSchoolApp.exam.home.title">Exams</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="drivingSchoolApp.exam.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-exam"
        [routerLink]="['/exam/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="drivingSchoolApp.exam.home.createLabel">Create a new Exam</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="exams?.length === 0">
    <span jhiTranslate="drivingSchoolApp.exam.home.notFound">No Exams found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="exams && exams.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span jhiTranslate="drivingSchoolApp.exam.date">Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="drivingSchoolApp.exam.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="constAmount">
            <div class="d-flex">
              <span jhiTranslate="drivingSchoolApp.exam.constAmount">Const Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="student.id">
            <div class="d-flex">
              <span jhiTranslate="drivingSchoolApp.exam.student">Student</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exam of exams; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/exam', exam.id, 'view']">{{ exam.id }}</a>
          </td>
          <td>{{ exam.date | formatMediumDatetime }}</td>
          <td>{{ exam.type }}</td>
          <td>{{ exam.constAmount }}</td>
          <td>
            <div *ngIf="exam.student">
              <a [routerLink]="['/student', exam.student.id, 'view']">{{ exam.student.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/exam', exam.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/exam', exam.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(exam)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
