<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="discount">
      <h2 data-cy="discountDetailsHeading"><span jhiTranslate="drivingSchoolApp.discount.detail.title">Discount</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ discount.id }}</span>
        </dd>
        <dt><span jhiTranslate="drivingSchoolApp.discount.amount">Amount</span></dt>
        <dd>
          <span>{{ discount.amount }}</span>
        </dd>
        <dt><span jhiTranslate="drivingSchoolApp.discount.student">Student</span></dt>
        <dd>
          <div *ngIf="discount.student">
            <a [routerLink]="['/student', discount.student.id, 'view']">{{ discount.student.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/discount', discount.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
